@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;
@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 0 0% 3.9%;
    --primary: 0, 0%, 15%, 1;
    --primary-foreground:0, 0%, 18%, 1;
    --primary-light:0, 0%, 28%, 1;
    --primary-extraLight:203, 70%, 10%, 1;
    --placeholder:0, 0%, 49%, 1;
    --secondary: 60, 20%, 99%, 1;
    --secondary-foreground:48, 26%, 93%, 1;
    --secondary-light:60, 22%, 92%, 1;
    --secondary-extraLight:60, 8%, 85%, 1;
    --border:60, 8%, 85%, 1;
    --blue:212, 100%, 45%, 1;
    --blue-50:212, 100%, 97%, 1;
    --green:155, 88%, 27%, 1;
    --yellow:40, 91%, 54%, 1;
    --red:0, 68%, 54%, 1;
    --light-border:212, 28%, 9%, 0.1;
    --radius: 0.5rem;
  }
 
}
@layer base {
  .inter{
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight:400;
    font-style: normal;
  }
  body{
    font-family: "Inter", sans-serif;
    @apply text-black bg-secondary-extraLight
  }
  h1{
    @apply text-[80px] leading-[80px] font-normal
  }
  h3{
    @apply text-[46px] leading-[60px] font-medium text-black
  }
  h4{
    @apply text-[40px] leading-tight font-medium
  }
  h5{
    @apply text-[22px] font-medium
  }
  h6{
    @apply text-xs font-medium
  }
  p{
    @apply text-black
  }
}
.font-18{
  @apply text-[18px] leading-8 font-medium text-black
}
.padding-48{
  @apply px-12
}
.card-shadow{
  box-shadow: 0px 4px 8.9px 0px rgba(0, 0, 0, 0.05);
}
.shadow-two{
  backdrop-filter: blur(24.350746154785156px);
  box-shadow: 0px 4.87px 19.48px 0px rgba(0, 0, 0, 0.05);
}
.bg-overlay:before{
  @apply absolute top-0 left-0 right-0 bottom-0;
  content:"";
  background: linear-gradient(180deg, rgba(0, 0, 0, 0) 52.58%, rgba(0, 0, 0, 0.2) 100%);
}